{
  "root": true,
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 2,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  }
}
